

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.example.speedrun">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".testing.SingleFragmentActivity">
        </activity>
    </application>

</manifest>